.headersection {
    display: flex;
    background-color: #1f2937;
    height: 400px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    font-style: bold;
}

.bubble {
    flex: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.headerlink {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
    flex-direction: row;
    padding-left: 250px;
}

.introduction {
    font-size: 48px;
    color: #f9faf8;
}

.column {
    display: flex;
    flex-direction: column;
}

.introchild {
    color: #e5e7eb;
    font-size: 18px;
    
}

.signupbutton {

}

.placeholderimage {
    background: #94979c;
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}